@import "~bootstrap/scss/bootstrap";

.my-fill-primary{
    fill: $primary;
}
.my-fill-secondary{
    fill: $secondary;
}
.my-fill-success{
    fill: $success;
}
.my-fill-info{
    fill: $info;
}
.my-fill-warning{
    fill: $warning;
}
.my-fill-danger{
    fill: $danger;
}
.my-fill-light{
    fill: $light;
}
.my-fill-dark{
    fill: $dark;
}

.my-emphasis{
    mix-blend-mode: difference!important;
}

.my-w-5{
    width: 24px!important;
}

.my-h-5{
    height: 24px!important;
}

.my-w-10{
    width: 48px!important;
}
.my-h-10{
    height: 48px!important;
}

.my-w-15{
    width: 62px!important;
}
.my-h-15{
    height: 62px!important;
}

.my-w-20{
    width: calc(24px*4)!important;
}
.my-h-20{
    height: calc(24px*4)!important;
}

.my-gap-x-5{
    column-gap: 3rem!important;
}

.my-gap-y-4{
    
    row-gap: 1.5rem!important;
}

.my-pointer{
    cursor: pointer;
}

.my-opacity-hover-50:hover{
    transition: 0.5;
    opacity: .5;
}

svg{
    vertical-align: unset!important;
}